@model CarBoxVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*    <a asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id">*@
<tr onclick="location.href ='@(Url.Action("Details", "Car",  new { id = Model.Id }))'" style="cursor: pointer;"> 

    <td>@Model.Cartype</td>
    <td>@*<a asp-controller="Car" asp-action="Details" asp-route-id="@Model.Id">*@@Model.RegnNr@*</a>*@</td>
    <td>@Model.MileageKm</td>
    <td>
        @if (Model.FlaggedForCleaning)
        {
            <button class="btn btn-warning btn-sm" onclick="CleanCar(@Model.Id); event.stopPropagation();">Clean</button>
        }
        @if (Model.FlaggedForService)
        {
            <button class="btn btn-warning btn-sm" onclick="ServiceCar(@Model.Id); event.stopPropagation();">Service</button>
        }
        <button class="btn btn-warning btn-sm" onclick="RemoveCar(@Model.Id); event.stopPropagation();" >Remove Car</button>
    </td>

</tr>
@*</a>*@
