@model CustomerBoxVM

    @*<a asp-controller="Customer" asp-action="Details" asp-route-id="@Model.Id">*@  
   
<tr onclick="location.href ='@(Url.Action("Details", "Customer",  new { id = Model.Id }))'" style="cursor: pointer;">

    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.PersonNr</td>

</tr>
    @*</a>*@



