@model EventBoxVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <tr>

        <td>@Model.EventId</td>
        <td>@Model.EventType</td>
        <td>@Model.Date</td>
        <td>@Model.CarId</td>

        @if (Model.EventType == "Created Booking" || Model.EventType == "Returned Car")
        {
            <td>@Model.BookingId</td>
            <td>@Model.CustomerId</td>
        }else
        {
            <td></td>
            <td></td>
        }
    </tr>

